.tools/
__pycache__/
*.pyc
*.app-saving
_quarto_internal_scss_error.scss
.venv/
.quarto/
_site/
_preview/
_publish/
/site_libs/
/posts/*/index.html
papers/
notes/
**/.DS_Store
**/Thumbs.db


/.quarto/
**/*.quarto_ipynb
