/*-- scss:defaults --*/
$font-family-sans-serif: "Pretendard", "Noto Sans KR", "Malgun Gothic", system-ui, sans-serif;
$font-family-monospace: "Cascadia Code", Consolas, monospace;
$font-size-base: 1rem;
$line-height-base: 1.9;
$headings-font-weight: 650;
$link-color: #256552;
$border-radius: .4rem;
